{% extends "pattern-imprinted-concrete-driveways.twig" %}

{% block contentgrid_images %}
  <img data-src="/wp-content/uploads/2016/10/wallcrete2-pattern-imprinted-concrete.jpg" alt="wallcrete" uk-img>
  <img data-src="/wp-content/uploads/2016/10/wallcrete1-pattern-imprinted-concrete.jpg" alt="wallcrete" uk-img>
{% endblock %}

{% block contentgrid_content %}			
  <p><strong>Wallcrete</strong> is a lightweight plaster which can be applied to most existing surfaces. It can also be printed in any colour and pattern of your choice, which makes it customisable. It&nbsp;is versatile and is suitable for interior and exterior walls too. </p>
  <p><strong>Custom Driveways</strong> prides ourselves on the quality of our work. Longevity, appearance and durability are three of our main priorities with any installation. We’ll work hard to make sure your installation is up to your standards. </p>
  <p>An existing wall transformed with <strong>Wallcrete</strong> makes a massive difference to any home. The unique, hand-picked design means that the wall can be transformed to match any existing property. It will last longer than other traditional materials such as brick and stone. Its low-maintenance and requires only the most basic upkeep, which means less work for you to do. </p>
  <p><strong>Custom Driveways</strong> supply <strong>Wallcrete</strong> in a wide variety of decorative wall designs and styles to suit any and every property, be it modern or traditional. We currently offer 24 different colours to choose from, as well as many designs. The look of your installation is only limited by your tastes. We want to work with you to create an installation that lasts long and looks great.</p>
{% endblock %}