{% extends "pattern-imprinted-concrete-driveways.twig" %}

{% block contentgrid %}
  <div class="content-grid uk-flex" uk-grid>
    <div class="uk-width-3-4@m">
      {% block contentgrid_content %}
        <p><strong>Pattern Imprinted Concrete</strong> offers the homeowner total flexibility in the high quality finished look they wish&nbsp;to create for their installation. &nbsp;A Pattern Imprinted Concrete installation can be customised in many different ways, depending on the taste and requirements of the customer. <strong>Coloured Concrete</strong> is appealing as it adds an unexpected level of attractiveness to a property.</p>
        <p><strong>Custom Driveways</strong> offers our customers a selection of coloured concrete in various shades and designs. We can match your new installation to existing property, or create something that is unique to you and your tastes.</p>
        <p><strong>Coloured Concrete</strong> can be layered in a single shade or multiple shades to create different effects. We currently offer a range of 24 standard&nbsp;colours for our customers to choose from. Again, these colours are available to mix and match in order to create a design that best suits your vision.</p>
        <p>One such example of shade-combining is&nbsp;adding additional different hued layers to the surface of the already <strong>Coloured Concrete</strong>. By doing this, an antique effect&nbsp;can be created on the installation that is&nbsp;both charming and also easy on the eye.</p>
        <p>Alternatively, a <strong>Coloured Concrete</strong> installation can be further enhanced by using two separate shades to highlight borders,&nbsp;circles and other designs to the imprinted concrete. The possibilities for design are only limited by your imagination. If you choose to work with <strong>Custom Driveways</strong>, our expert team will plan with you to make your unique vision for your installation a reality.</p>
      {% endblock %}
    </div>
    <div class="uk-width-1-4@m">
      {% block contentgrid_images %}
        <ul class="uk-child-width-1-1" uk-grid>
          <li>
            <img data-src="/wp-content/uploads/2016/10/colourSurfaceHardener.jpg" alt="coloured concrete" uk-img>
          </li>
          <li>
            <img data-src="/wp-content/uploads/2016/10/Colours.jpg" alt="coloured concrete" uk-img>
          </li>
        </ul>
      {% endblock %}
    </div>
  </div>
{% endblock %}