{% extends "concrete-contractor-credentials.twig" %}

{% block contentwrap_title %}
  <h1 class="uk-text-capitalize thin-heading" uk-scrollspy="cls: uk-animation-scale-up;">Concrete Sealer Products</h1>
  <div class="uk-h4 uk-text-capitalize thin-heading meta-heading uk-margin-remove" uk-scrollspy="cls: uk-animation-scale-up;">Printed concrete lends itself ideally to rejuvenation some years after its initial installation. This is done through the application of sealer products.</div>
{% endblock %}

{% block contentgrid_content %}
  <h2 class="uk-text-capitalize thin-heading">Acrylic Sealer</h2>
  <p>The use of a concrete sealer when implementing a new imprinted concrete installation is crucial. Concrete sealer for surfaces on exterior applications should be acrylic to allow moisture in the slab to escape. Where outdoor use is concerned, solvent-based acrylic sealers generally perform better than water-based products.</p>
  <p>Acrylic sealers can easily be repaired if defects become present after sealing. Reapplication of an acrylic concrete sealer will essentially melt the existing sealer and blend the new addition with the older existing layer. This eliminates the issue of build up on the surface, a problem that is common with water-based sealers.</p>
  <h2 class="uk-text-capitalize thin-heading">Water Based Sealer</h2>
  <p>Concrete is vulnerable to chemical attacks and staining because the surface of concrete is porous. Liquids and acidic materials can seep into the surface of concrete and compromise the integrity of the installation. Sealants are applied to concrete surfaces to keep them from prematurely deteriorating. A properly applied concrete sealer will make the surface of concrete non-porous and extend its life for much longer than it would without the protection.</p>
  <h2 class="uk-text-capitalize thin-heading">Slip Resistance</h2>
  <p>Generally, imprinted concrete installations do not require extra slip resistance. However if your installation is near a pool area, a step, laying on an incline or any other area where extra grip is required, slip resistance can be increased. This is achieved by the addition of graded, transparent, micronised white powder particles to the sealer prior to application.</p>
{% endblock %}