{% extends "page.twig" %}

{% block styles %}
  <style>
    .fa-spinner {
      display: none;
      animation: fa-spin 1s linear infinite;
    }
    .fa-spinner.display {
      display: inline-block;
    }
    
    @media (min-width: 1200px) {
      .contact-details-left-main {
        margin-right: 70px;
      }
    }
  </style>
  <!-- form inputs -->
  <style>
    /* input & select inputs */
    .uk-input, .uk-select, .uk-textarea {
      background-color: #f8f8f8;
      border: none;
      transition: .1s ease-in-out;
      transition-property: background-color,border-color;
    }
    
    /* input & select inputs: hover & focus */
    .uk-input:focus, .uk-input:hover, 
    .uk-select:focus, .uk-select:hover,
    .uk-textarea:focus, .uk-textarea:hover {
      background-color: #f3f3f3;
    }
    
    /* input & select inputs: uk-light */
    .uk-light .uk-input, 
    .uk-light .uk-select,
    .uk-light .uk-textarea {
      background-color: rgba(255,255,255,.05);
    }
    
    /* uk-form-large size */
    .uk-form-large:not(textarea):not([multiple]):not([size]) {
      height: 45px;
      padding-left: 12px;
      padding-right: 12px;
    }
    textarea.uk-form-large {
      padding: 10px 12px 10px 12px;
    }
    .uk-form-large {
      font-size: 1rem;
    }
    
    /* placeholder text color */
    ::placeholder {
      color: #777777!important;
      opacity: 1!important;
    }
    :-ms-input-placeholder {
      color: #777777;
    }
    ::-ms-input-placeholder {
      color: #777777;
    }
    
    /* search inputs */
    .uk-search-default .uk-search-input {
      background-color: #f8f8f8;
      border: none;
      transition: .1s ease-in-out;
      transition-property: background-color,border-color;
    }
    .uk-search-default .uk-search-input:focus, .uk-search-default .uk-search-input:hover {
      background-color: #f3f3f3;
    }
    .uk-light .uk-search-default .uk-search-input {
      background-color: rgba(255,255,255,.05);
    }
    .uk-search .uk-search-icon {
      color: #17161a;
    }
    .uk-search .uk-form-large:not(textarea):not([multiple]):not([size]) {
      height: 50px;
      padding-left: 15px;
      padding-right: 35px;
    }
    
    /* hide data list dropdown icon for autopopulated suggestions inputs */
    input::-webkit-calendar-picker-indicator {
      display: none!important;
    }
    [list]::-webkit-calendar-picker-indicator {
      display: none!important;
    }
  </style>
{% endblock %}

{% block contentwrap %}
  <section class="hero-section">
    <div class="uk-background-fixed uk-background-cover uk-width-1-1 uk-section" style="background-image: url({{theme.link}}/assets/images/landscape.jpg);">
      <div class="half-box one uk-inline uk-overlay uk-overlay-secondary uk-width-1-1 uk-light uk-flex uk-flex-center uk-flex-middle uk-text-center uk-padding-remove">
        <div class="uk-container" uk-scrollspy="cls: uk-animation-scale-up;">
          <h1 class="uk-margin-remove-bottom">Contact us</h1>
        </diV>
      </div>
    </div>
  </section>
  <div class="uk-section uk-container" data-template="contact-us.twig">
    <article class="uk-article">
      <div class="contact-details-section uk-child-width-1-2@m uk-grid-large uk-margin-medium" uk-grid>
        <div class="contact-details-left">
          <h2 class="uk-h3">Get in Touch</h2>
          <div class="uk-grid-small" uk-grid>
            <div class="contact-details-left-main uk-width-auto@m">
              <ul class="uk-list uk-list-collapse uk-margin">
                <li>General Inquiries</li>
                <li class=""><a href="mailto:customdriveways100@gmail.com" class="uk-text-bold">customdriveways100@gmail.com</a></li>
              </ul>
              Mobile:<br>
              <strong>083 144 8855</strong>
            </div>
            <div class="contact-details-left-additional uk-width-expand@m">
              <ul class="uk-list uk-list-collapse uk-margin">
                <li>Current Customers</li>
                <li class=""><a href="mailto:info@customdriveways.ie" class="uk-text-bold">info@customdriveways.ie</a></li>
              </ul>
              Landline:<br>
              <strong>044 93 82051</strong>
            </div>
          </div>
        </div>
        <div class="contact-details-right">
          <div class="uk-child-width-1-2@m uk-grid-large uk-margin-large" uk-grid>
            <div>
              <h2 class="uk-h3">Located in</h2>
              Portnashangan,<br>Multyfarnham,<br>Mullingar,<br>Co. Westmeath
            </div>
            <div>
              <h2 class="uk-h3">Like us on</h2>
              <li><a href="https://www.facebook.com/profile.php?id=100063562481040" target="_blank" class="uk-text-bold"><i class="fab fa-facebook-f"></i> Facebook</a></li>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="contact-form-section uk-section uk-section-xsmall">
        {{ post.content }}
      </div>
    </article>
  </div>
{% endblock %}