{% extends "concrete-contractor-credentials.twig" %}
{% block styles %}
  {{parent()}}
  <style>
    .uk-accordion-title {
      font-size: 1.3rem;
      font-weight: 600;
    }
  </style>
{% endblock %}

{% block contentwrap_title %}
  <div class="uk-h4 uk-text-capitalize thin-heading meta-heading uk-margin-remove" uk-scrollspy="cls: uk-animation-scale-up;">Need to know more?</div>
  <h1 class="uk-text-capitalize thin-heading uk-margin-remove-top" uk-scrollspy="cls: uk-animation-scale-up;">Frequently Asked Questions</h1>
{% endblock %}

{% block contentgrid_content %}
  <ul uk-accordion="multiple: true">
    <li class="uk-open">
      <a class="uk-accordion-title" href="#">Why choose Pattern Imprinted Concrete?</a>
      <div class="uk-accordion-content">
        <p>Pattern Imprinted Concrete is tough and durable therefore holding its look for many years. It is virtually maintenance free. Unlike other types of paving it does not sink or spread. It is weed free and will not melt on a hot day. It does not crumble or become loose nor will it fade as the colour and sealer are UV resistant.</p>
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href="#">How often do I have to reseal the concrete?</a>
      <div class="uk-accordion-content">
        <p>Like everything it depends on usage. Generally every 35 years. This is a very simple process and can be easily carried out by the customers. How deep is the concrete poured? Concrete is poured to a minimum of 100mm deep (4”) this is suitable for everyday traffic eg. cars and small lorries. For heavier traffic we recommend 150mm deep (6”). For areas constantly use by heavy traffic eg. roads we recommend 200mm deep (8”).</p>
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href="#">What strength concrete is used?</a>
      <div class="uk-accordion-content">
        <p>We use a reinforced air entrained 320 concrete mix design which is increased to 400 during winter months.</p>
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href="#">Is it necessary to cut joints in the concrete?</a>
      <div class="uk-accordion-content">
        <p>Yes. We recommend cutting joints at regular intervals. These are cut to a depth of 25% of the concrete slab. The reason for this is to reduce the chance of cracks occurring and should a crack appear follow the direction of the weakened points so that the crack rarely becomes visible.</p>
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href="#">Can I use my driveway while the work is being carried out?</a>
      <div class="uk-accordion-content">
        <p>We aim to create as little disturbance to you as possible. When the ground has been prepared it is normally okay to park in your driveway. When the concrete is poured and printed we recommend it is left 48 hours before being used (depending on weather). When the surface is sealed it must be allowed to fully dry before being used, this depends on the weather eg. 2 hours to a full day.</p>
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href="#">Does Custom Driveways work all year through?</a>
      <div class="uk-accordion-content">
        <p>Yes, although during the winter months the process can take longer.</p>
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href="#">Can I power wash my driveway?</a>
      <div class="uk-accordion-content">
        <p>Yes. As often as you like after the sealer has been applied.</p>
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href="#">Will the colour fade over time?</a>
      <div class="uk-accordion-content">
        <p>No. The colour will not fade as we use a colour surface hardener (CSH). We trowel this into the surface of the concrete while wet and this doubles the strength of the concrete surface. However the sealer does wear off over time so the colour might appear to have faded. This can be instantly restored to it’s pristine condition by simply applying a fresh coat of sealer.</p>
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href="#">How many patterns and colours available?</a>
      <div class="uk-accordion-content">
        <p>There are currently over 34 patterns not including a selection compass and circle designs. We have 25 standard colours which can be mixed in any way to give numerous variations. See Patterns and colours.</p>
      </div>
    </li>
  </ul>
{% endblock %}