{% extends "gallery.twig" %}

{% block gallerygrid %}
  <ul class="uk-child-width-1-4@m" uk-grid uk-lightbox="animation: slide">
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-06.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-06-400x284.jpg" alt="special features 33" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-04.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-04-400x284.jpg" alt="special features 31" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-08.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-08-400x284.jpg" alt="special features 25" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-15.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-15-400x284.jpg" alt="special features 18" uk-img>
      </a>
    </li>
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-P-08-e1475969457128.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-P-08-e1475969457128-400x284.jpg" alt="special features 08" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-P-01.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-P-01-400x284.jpg" alt="special features 01" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-20.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-20-400x284.jpg" alt="special features 14" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-14.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-14-400x284.jpg" alt="special features 24"  uk-img>
      </a>
    </li>
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-13.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-13-400x284.jpg" alt="special features 19" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-P-03.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-P-03-400x284.jpg" alt="special features 03" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-16.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-16-400x284.jpg" alt="special features 17" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-01.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-01-400x284.jpg" alt="special features 27" uk-img>
      </a>
    </li>
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-05.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-05-400x284.jpg" alt="special features 32" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-19.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-19-400x284.jpg" alt="special features 26" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-18.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-18-400x284.jpg" alt="special features 28" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-P-09-e1475969472847.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-P-09-e1475969472847-400x284.jpg" alt="special features 09"  uk-img>
      </a>
    </li>
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-P-02.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-P-02-400x284.jpg" alt="special features 02" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-P-11-e1475969499492.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-P-11-e1475969499492-400x284.jpg" alt="special features 11" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-02.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-02-400x284.jpg" alt="special features 29" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/SF-L-07.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/SF-L-07-400x284.jpg" alt="special features 22"  uk-img>
      </a>
    </li>
  </ul>
{% endblock %}