{% extends "gallery.twig" %}

{% block gallerygrid %}
  <ul class="uk-child-width-1-4@m" uk-grid uk-lightbox="animation: slide">
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Pathway-P-01.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Pathway-P-01-400x284.jpg" alt="pathways 01" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Pathway-P-02.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Pathway-P-02-400x284.jpg" alt="pathways 02" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Pathway-L-03.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Pathway-L-03-400x284.jpg" alt="pathways 15" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Pathway-P-11.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Pathway-P-11-400x284.jpg" alt="pathways 11" uk-img>
      </a>
    </li>
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Pathway-P-06.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Pathway-P-06-400x284.jpg" alt="pathways 03" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Pathway-P-05.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Pathway-P-05-400x284.jpg" alt="pathways 09" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Pathway-L-01.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Pathway-L-01-400x284.jpg" alt="pathways 17" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Pathway-P-09.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Pathway-P-09-400x284.jpg" alt="pathways 07"  uk-img>
      </a>
    </li>
    
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Pathway-L-02.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Pathway-L-02-400x284.jpg" alt="pathways 16" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Pathway-P-08.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Pathway-P-08-400x284.jpg" alt="pathways 08" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Pathway-L-05.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Pathway-L-05-400x284.jpg" alt="pathways 06" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Pathway-L-04.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Pathway-L-04-400x284.jpg" alt="pathways 13"  uk-img>
      </a>
    </li>
    
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Pathway-L-04.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Pathway-L-04-400x284.jpg" alt="pathways 14" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Pathway-P-07.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Pathway-P-07-400x284.jpg" alt="pathways 04" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Pathway-P-04.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Pathway-P-04-400x284.jpg" alt="pathways 05" uk-img>
      </a>
    </li>
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Pathway-P-12.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Pathway-P-12-400x284.jpg" alt="pathways 10"  uk-img>
      </a>
    </li>
    
    
    <li>
      <a class="uk-inline uk-transition-toggle" href="/wp-content/uploads/2016/10/Pathway-L-06.jpg" data-caption="">
        <img class="uk-transition-scale-up uk-transition-opaque uk-box-shadow-hover-large theme-border" data-src="/wp-content/uploads/2016/10/Pathway-L-06-400x284.jpg" alt="pathways 12" uk-img>
      </a>
    </li>
    
  </ul>
{% endblock %}