{% extends "concrete-contractor-credentials.twig" %}

{% block contentwrap_title %}
  <h1 class="uk-text-capitalize thin-heading" uk-scrollspy="cls: uk-animation-scale-up;">Steps in our Process</h1>
{% endblock %}

{% block contentgrid_content %}
  <ul class="uk-list uk-list-circle uk-list-large">
    <li>A site visit is undertaken to meet the customer, measure the area and provide a price for the job</li>
    <li>We consult with the customer on their choice of colours and patterns</li>
    <li>A date to start the installation is agreed upon</li>
    <li>A detailed survey of the site is created to ensure all elements are documented – e.g. fall levels are properly assessed so water will run away from the house and / or into drains</li>
    <li>The area is excavated and the sub-base is laid</li>
    <li>The concrete is poured, levelled and coloured</li>
    <li>A second colouring is applied to the area which gives depth to the main colour and protects / maintains the print when the mats are lifted</li>
    <li>The area is washed off and the final colour and print are revealed</li>
    <li>Contraction joints are cut into the paved area</li>
    <li>Dressing of manholes and other final cosmetic work is done</li>
    <li>The paved area is sealed and cleaned</li>
  </ul>
{% endblock %}