{% extends "pattern-imprinted-concrete-driveways.twig" %}

{% block contentgrid_content %}
  <p><strong>Pattern Imprinted Concrete Patios</strong> have become very&nbsp;popular in Ireland, especially in the Dublin area where we’ve had countless customers since our beginning. Furthermore, the demand for our <strong>Pattern Imprinted Concrete Patios</strong> has been continually growing across the rest of the country.&nbsp;</p>
  <p><strong>Custom Driveways</strong> will work hard with the customer to deliver an installation that ticks every box. Durability, style&nbsp;and practicality are our top priorities as we strive to deliver the best service in Ireland. &nbsp;</p>
  <p>There are many reasons people choose to install one of our patios. The benefits of an imprinted concrete patio are boundless. As well as vastly improving the aesthetic of a garden, <strong>Imprinted Concrete</strong> is durable and easy to maintain. </p>
  <p>The patio will be weed-resistant and all-weather, and won’t fade or wear away. This is especially important because of the changing&nbsp;nature of Ireland’s weather. Also, concrete is a lot more practical than traditional patio materials, such as slabs.</p>
  <p>The stylish aspect of <strong>Pattern Imprinted Concrete</strong> is a major benefit of installing a concrete patio. As well as creating a landscape that is easy on the eye, an imprinted concrete patio will also add value to a home or property. </p>
  <p>As mentioned before, style&nbsp;is an important factor. <strong>Custom Driveways</strong> offer an extensive range of colours, designs and layering processes. To read about our design elements, please click <a href="http://customdriveways.ie/coloured-concrete/">here</a>.&nbsp;</p>
  <p>Coupled with your unique vision for your installation, we can work together to create an imprinted concrete patio that compliments your existing property and gives you something to take pride in. <strong>Customer satisfaction</strong> is our number one goal with every job. </p>
{% endblock %}

{% block contentgrid_images %}
  <ul class="uk-child-width-1-3@m uk-grid-small uk-margin-medium-top" uk-grid>
    <li>
      <img data-src="/wp-content/uploads/2016/09/Patio-P-15.jpg" alt="pattern imprinted concrete patios" uk-img>
    </li>
    <li>
      <img data-src="/wp-content/uploads/2016/10/patios-printed-imprinted-concrete.jpg" alt="pattern imprinted concrete patios" uk-img>
    </li>
    <li>
      <img data-src="/wp-content/uploads/2016/10/patios3-printed-imprinted-concrete.jpg" alt="pattern imprinted concrete patios" uk-img>
    </li>
  </ul>
{% endblock %}