{% extends "gallery.twig" %}

{% block gallerygrid %}
  <ul class="uk-child-width-1-4@m uk-text-center" uk-grid>
    
    <li>
      <img data-src="http://customdriveways.ie/wp-content/uploads/2017/03/london_cobble.jpg" alt="" uk-img>
      <h3 class="thin-heading uk-h4 uk-text-capitalize uk-margin-remove">London Cobble</h3>
    </li>
    <li>
      <img data-src="http://customdriveways.ie/wp-content/uploads/2017/03/old_english.jpg" alt="" uk-img>
      <h3 class="thin-heading uk-h4 uk-text-capitalize uk-margin-remove">Old English Cobble</h3>
    </li>
    <li>
      <img data-src="http://customdriveways.ie/wp-content/uploads/2017/03/deep_joint.jpg" alt="" uk-img>
      <h3 class="thin-heading uk-h4 uk-text-capitalize uk-margin-remove">Deep Joint Cobble</h3>
    </li>
    <li>
      <img data-src="http://customdriveways.ie/wp-content/uploads/2017/03/european_fan.jpg" alt="" uk-img>
      <h3 class="thin-heading uk-h4 uk-text-capitalize uk-margin-remove">European Fan</h3>
    </li>
    
    <li>
      <img data-src="http://customdriveways.ie/wp-content/uploads/2017/03/old_brick_basketweave.jpg" alt="" uk-img>
      <h3 class="thin-heading uk-h4 uk-text-capitalize uk-margin-remove">Old Brick Basketweave</h3>
    </li>
    <li>
      <img data-src="http://customdriveways.ie/wp-content/uploads/2017/03/old_brick_herringbone.jpg" alt="" uk-img>
      <h3 class="thin-heading uk-h4 uk-text-capitalize uk-margin-remove">Old Brick Herringbone</h3>
    </li>
    <li>
      <img data-src="http://customdriveways.ie/wp-content/uploads/2017/03/royal_ashlar.jpg" alt="" uk-img>
      <h3 class="thin-heading uk-h4 uk-text-capitalize uk-margin-remove">Royal Ashlar Slate</h3>
    </li>
    <li>
      <img data-src="http://customdriveways.ie/wp-content/uploads/2017/03/grand_ashlar.jpg" alt="" uk-img>
      <h3 class="thin-heading uk-h4 uk-text-capitalize uk-margin-remove">Grand Ashlar Slate</h3>
    </li>
    
    <li>
      <img data-src="http://customdriveways.ie/wp-content/uploads/2017/03/french_fan.jpg" alt="" uk-img>
      <h3 class="thin-heading uk-h4 uk-text-capitalize uk-margin-remove">French Fan</h3>
    </li>
    <li>
      <img data-src="http://customdriveways.ie/wp-content/uploads/2017/03/ashlar.jpg" alt="" uk-img>
      <h3 class="thin-heading uk-h4 uk-text-capitalize uk-margin-remove">Ashlar Slate</h3>
    </li>
    <li>
      <img data-src="http://customdriveways.ie/wp-content/uploads/2017/03/new_brick_herringbone.jpg" alt="" uk-img>
      <h3 class="thin-heading uk-h4 uk-text-capitalize uk-margin-remove">New Brick Herringbone</h3>
    </li>
    <li>
      <img data-src="http://customdriveways.ie/wp-content/uploads/2017/03/opa_locka.jpg" alt="" uk-img>
      <h3 class="thin-heading uk-h4 uk-text-capitalize uk-margin-remove">Opa Locka Slate</h3>
    </li>
    
    <li>
      <img data-src="http://customdriveways.ie/wp-content/uploads/2017/03/pacific_boardwalk.jpg" alt="" uk-img>
      <h3 class="thin-heading uk-h4 uk-text-capitalize uk-margin-remove">Pacific Boardwalk</h3>
    </li>
    <li>
      <img data-src="http://customdriveways.ie/wp-content/uploads/2017/03/random_stone.jpg" alt="" uk-img>
      <h3 class="thin-heading uk-h4 uk-text-capitalize uk-margin-remove">Random Stone</h3>
    </li>
    <li>
      <img data-src="http://customdriveways.ie/wp-content/uploads/2017/03/herringbone_slate.jpg" alt="" uk-img>
      <h3 class="thin-heading uk-h4 uk-text-capitalize uk-margin-remove">Herringbone Slate</h3>
    </li>
    <li>
      <img data-src="http://customdriveways.ie/wp-content/uploads/2017/03/california_weave.jpg" alt="" uk-img>
      <h3 class="thin-heading uk-h4 uk-text-capitalize uk-margin-remove">California Weave</h3>
    </li>

    <li>
      <img data-src="http://customdriveways.ie/wp-content/uploads/2017/03/italian_slate.jpg" alt="" uk-img>
      <h3 class="thin-heading uk-h4 uk-text-capitalize uk-margin-remove">Italian Slate</h3>
    </li>
    <li>
      <img data-src="http://customdriveways.ie/wp-content/uploads/2017/03/sidewalk_weave.jpg" alt="" uk-img>
      <h3 class="thin-heading uk-h4 uk-text-capitalize uk-margin-remove">Sidewalk Slate</h3>
    </li>
    <li>
      <img data-src="http://customdriveways.ie/wp-content/uploads/2017/03/la_habra_slate.jpg" alt="" uk-img>
      <h3 class="thin-heading uk-h4 uk-text-capitalize uk-margin-remove">La Habra Slate</h3>
    </li>
    
  </ul>
{% endblock %}