{% extends "pattern-imprinted-concrete-driveways.twig" %}

{% block contentgrid_content %}	
  <p><strong>Pattern Imprinted Concrete</strong> is fast becoming the preferred material for outdoor steps. <strong>Pattern Imprinted Concrete Steps &amp; Kerbs</strong>&nbsp;are a great alternative to traditional brick steps. This is because of a number of reasons, including durability, attractiveness and safety. </p>
  <p><strong>Pattern Imprinted Concrete</strong> offers a completely sealed surface. This eliminates the potential for weeds and overgrowth to take hold and cause any unevenness to the surface, therefore reducing the maintenance work. If done correctly, printed concrete requires only the most basic upkeep.</p>
  <p>It also drastically reduces the safety hazard of the steps, unlike other popular materials. The added safety of printed concrete is one of its best benefits. This is especially important with steps, as they can be dangerous in bad weather. Printed concrete offers much better grip for steps than things such as slabs or stone. </p>
  <p>When installing printed concrete steps, we understand how important it is that they add to the look of the property, rather than taking away from it. Because of this we also supply and install kerbs and wall cappings to match the colour and texture of your project. <strong>Imprinted C</strong><strong>oncrete</strong> steps, driveways and other fixtures also increase the value of a house. </p>
  <p>Attractiveness and aesthetic is a benefit you can also expect with printed concrete. Currently, <strong>Custom Driveways</strong> offers pattern imprinted concrete in 24 different colours and a number of designs.&nbsp;</p>
  <p>The combinations are only limited by any ideas for your installation. Our expert team will work side-by-side with you to pick a design that best fits your existing property. We pride ourselves on creating beautiful installations that our customers will be satisfied with. </p>
{% endblock %}

{% block contentgrid_images %}
  <ul class="uk-child-width-1-3@m uk-grid-small uk-margin-medium-top" uk-grid>
    <li>
      <img data-src="/wp-content/uploads/2016/10/steps1-pattern-imprinted-concrete.jpg" alt="pattern imprinted concrete steps &amp; kerbs" uk-img>
    </li>
    <li>
      <img data-src="/wp-content/uploads/2016/10/steps3-pattern-imprinted-concrete.jpg" alt="pattern imprinted concrete steps &amp; kerbs" uk-img>
    </li>
    <li>
      <img data-src="/wp-content/uploads/2016/10/steps2-pattern-imprinted-concrete.jpg" alt="pattern imprinted concrete steps &amp; kerbs" uk-img>
    </li>
  </ul>
{% endblock %}