{% extends "pattern-imprinted-concrete-driveways.twig" %}

{% block contentgrid_content %}
  <p><strong>Pattern Imprinted concrete Pathways</strong> are a lovely addition to any property. They&nbsp;give a&nbsp;homeowner fantastic flexibility to completely rejuvenate an area of their backyard or garden.</p>
  <p><strong>Pattern Imprinted Concrete</strong> has many benefits over traditional materials such as tarmacadam and slabs. Some of these benefits include life-length, attractiveness and risk-reduction.</p>
  <p>With this innovative type of surfacing there’s no need to worry about trip hazards becoming an issue over time. This was and still is a common problem with paving work.</p>
  <p>With <strong>Pattern Imprinted Concrete</strong> however, the surface area is designed to be non-slip. This in turn means a huge reduction in risk. Imprinted concrete is also built to last, meaning hazards won’t appear with wear over time. This is a huge issue with other materials in contrast.</p>
  <p><strong>Pattern Imprinted Concrete Pathways</strong> are also easy on the eye. They add a nice level of aesthetic to any property, and increase the value of the property too. Currently, <strong>Custom Driveways</strong> offers a wide range of colours and designs for our customers to choose from. This means that the look of your pathway can be completely tailored to your tastes and ideas. <strong>Custom Driveways</strong> strives to deliver an installation you can be proud to show off.</p>
{% endblock %}

{% block contentgrid_images %}
  <ul class="uk-child-width-1-2@m uk-grid-small uk-margin-medium-top" uk-grid>
    <li>
      <img data-src="/wp-content/uploads/2016/10/pathway1-printed-imprinted-concrete.jpg" alt="pattern imprinted concrete pathways" uk-img>
    </li>
    <li>
      <img data-src="/wp-content/uploads/2016/10/pathway2-printed-imprinted-concrete.jpg" alt="pattern imprinted concrete pathways" uk-img>
    </li>
  </ul>
{% endblock %}