{% extends "concrete-contractor-credentials.twig" %}

{% block contentgrid_content %}
  <p>Custom Driveways uses only high quality product manufactured by PICS Ltd. under their Hatcrete brand. PICS manufacturing facilities are accredited to BS ISO 9001 and they are a long standing member and contributor to the Concrete Society.</p>
{% endblock %}