{% extends "pattern-imprinted-concrete-driveways.twig" %}

{% block contentgrid_content %}
  <p><strong>Pattern Imprinted Concrete</strong> or <strong>Stamped Concrete</strong> as it is known in the US, is created by the effect of a pattern being stamped onto poured concrete. <strong>Custom Driveways</strong> offer a large range of patterns for our customers to choose from.</p>
  <p>There are many reason people choose to install a stamped concrete piece. <strong>Pattern Imprinted Concrete</strong> is durable and also attractive. It’s far more versatile and customisable than other materials like tarmacadam and paving stones.</p>
  <p><strong>Imprinted Concrete</strong> creates an effect that is very eye-catching and unique. It’s a sure-fire way to make a property stand out. Stamped concrete installations will also add value to a property. <strong>Custom Driveways</strong> will work with our customers to pick a pattern and colour that best fits your existing property and the vision you have for it.</p>
  <p>One of the biggest pros of pattern stamped concrete is its brilliant lasting time. It won’t wear away or fade with usage, and is completely weather-resistant. This is an especially important point in Ireland, as our weather is very unpredictable. Pattern imprinted concrete only needs the smallest amount of upkeep to keep it looking good.</p>
  <p><strong>Stamped Concrete</strong> can be used to install patios, driveways, pathways, walls and kerbs. It’s a versatile and multipurpose material.</p>
  <p>As an accredited <strong>PICS</strong> installer, Custom Driveways has a range of 34 different <strong>Pattern Imprinted Concrete</strong> patterns available for our customers to choose from.</p>
  <ul class="uk-child-width-1-4@m" uk-grid>

  </ul>
{% endblock %}

{% block contentgrid_images %}
  <ul class="uk-child-width-1-4@m uk-grid-small uk-margin-medium-top uk-flex uk-flex-center" uk-grid>
    <li>
      <img data-src="/wp-content/uploads/2016/10/patterns-imprinted-concrete-timber-1.jpg" alt="coloured concrete" uk-img>
    </li>
    <li>
      <img data-src="/wp-content/uploads/2016/10/patterns-imprinted-concrete-texture-1.jpg" alt="coloured concrete" uk-img>
    </li>
    <li>
      <img data-src="/wp-content/uploads/2016/10/patterns-imprinted-concrete-stone-1.jpg" alt="coloured concrete" uk-img>
    </li>
    <li>
      <img data-src="/wp-content/uploads/2016/10/patterns-imprinted-concrete-reflections-1.jpg" alt="stamped concrete patterns" uk-img>
    </li>
    <li>
      <img data-src="/wp-content/uploads/2016/10/patterns-imprinted-concrete-fan-1.jpg" alt="stamped concrete patterns" uk-img>
    </li>
    <li>
      <img data-src="/wp-content/uploads/2016/10/patterns-imprinted-concrete-compass-1.jpg" alt="stamped concrete patterns" uk-img>
    </li>
    <li>
      <img data-src="/wp-content/uploads/2016/10/patterns-imprinted-concrete-circles-1.jpg" alt="stamped concrete patterns" uk-img>
    </li>
  </ul>
{% endblock %}