{% extends "page.twig" %}

{% block contentwrap %}
  <section class="testimonials-section uk-text-center uk-section uk-container">
    <h1 class="uk-h2 uk-text-capitalize thin-heading meta-heading uk-margin-remove" uk-scrollspy="cls: uk-animation-scale-up;">{{post.title}}</h1>
    <div class="uk-h1 uk-text-capitalize thin-heading uk-margin-small-top uk-margin-medium-bottom" uk-scrollspy="cls: uk-animation-scale-up;">A couple of our happy customers</div>
    <blockquote cite="#" class="uk-background-muted uk-padding-small" uk-scrollspy="cls: uk-animation-slide-left-medium;">
      <p class="uk-margin-small-bottom">"When first introduced to the printed concrete, I was somewhat nervous as I had been used to a tarmac driveway for nearly 10 years. However, having now had Custom Driveways replace the sagging tarmac with the printed concrete I could not be happier! I found the Custom Driveway Team to be polite, helpful and extremely professional and I would have no hesitation in recommending them. Custom Driveway also finished off the job by suggesting a small amount of facia on the front of the house, it just set off the driveway perfectly. I do not exaggerate when I say; the difference this has made to our home is dramatic and we continuously receive complements to the end"</p>
        <div class="clip-star"></div>
        <div class="clip-star"></div>
        <div class="clip-star"></div>
        <div class="clip-star"></div>
        <div class="clip-star"></div>
      </div>
      <footer>Sally in <strong>Edenderry, Offaly</strong></footer>
    </blockquote>
    <blockquote cite="#" class="uk-background-muted uk-padding-small" uk-scrollspy="cls: uk-animation-slide-right-medium;">
      <p class="uk-margin-small-bottom">"Al and the Custom Driveway crew were extremely helpful in selecting the colour, pattern and type of driveway and facia for my house. I can not fault their work whatsoever and the result has been our house has not only increased in value, but has become a home to be proud of for me and my family. I would encourage anyone thinking of updating their home to speak with Al and Custom Driveways team to discuss the options, you will be impressed"</p>
        <div class="clip-star"></div>
        <div class="clip-star"></div>
        <div class="clip-star"></div>
        <div class="clip-star"></div>
        <div class="clip-star"></div>
      </div>
      <footer>Ronan in <strong>Lucan, Dublin</strong></footer>
    </blockquote>
  </section>
{% endblock %}