<div class="header-buttons">
  <a href="tel:00353831448855" title="" class="uk-button uk-button-danger">
    <span uk-icon="icon: receiver"></span> Call us on 083 144 8855
  </a>
  <a href="https://wa.me/353831448855?text=Hello,%20Custom%20Driveways" title="Message us on Whatsapp" style="background-color:#25D366;color:#fff;" class="uk-button uk-button-primary">
    <span uk-icon="icon: whatsapp"></span> Message us on Whatsapp
  </a>
</div>