<div id="QuickCallEnquiryContainer" class="rmcc-box-shadow-top uk-hidden@s">
  <a class="close" uk-toggle="target: #QuickCallEnquiryContainer">x</a>
  <a href="tel:00353831448855" id="CallNowButton" style="width:50%;display:inline-block;float:left">
    <span uk-icon="icon: receiver"></span> Freephone us
  </a>
  <a href="https://wa.me/353831448855?text=Hello,%20Custom%20Driveways" id="CallNowButton" style="width:50%;display:inline-block;float:right;background-color:#25D366;">
    <span uk-icon="icon: whatsapp"></span> Whatsapp
  </a>
</div>