<section class="work-cta-section">
  <div class="uk-section uk-background-muted theme-border-top theme-border-bottom">
    <div class="uk-flex uk-flex-center uk-flex-middle uk-text-center">
      <div class="uk-container" uk-scrollspy="cls: uk-animation-scale-up;">
        <h2 class="uk-margin-remove-bottom uk-h2 thin-heading uk-text-capitalize">Want to see examples of our Work?</h2>
        <p><a href="/gallery" class="uk-button uk-button-secondary cd-button">Visit our Gallery</a></p>
      </diV>
    </div>
  </div>
</section>